<div class="main-div">

    {% extends 'header.html' %}

    {% block title %} Home {% endblock %}

    {% block content %}


    <div class="row content">
        <div class="text container-fluid col-lg-6 col-md-6 col-sm-12">
            <h1 class="intro">Nike Air <br> Max Pre-Day</h1>
            <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>

                <button class="btn btn-dark btn-block">Shop Now</button>
                
        </div>

        <div class="img col-lg-6 col-md-6 col-sm-12">
            <img class="shoe-img" src="/static/assets/shoe.png" alt="">
            <img class="shoe-img-1" src="/static/assets/shoe.png" alt="">
        </div>
       
    </div>
    <footer>
        <p class="copyright">© 2023 Nike, Inc. All Rights Reserved</p>
    </footer>
    {% endblock %}

   
    
</div>